@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap");
:root {
  --heading-color: #0784f3;
  --hover-color: #0573d4;
  --para-color: #7a7a7b;
  --category: #80c2fc;
  --error-message: #fc4023;
  --select: #0fae1d;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  padding: 16px;
  width: 600px;
  height: auto;
  transform: translateY(20%);
  margin: 0 auto;

  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

/* for error message */
.message {
  color: #fc4023;
}

.hidden {
  display: none;
}

.get__started {
  display: flex;
  justify-self: center;
  align-self: center;
  width: fit-content;
  gap: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  background-color: var(--heading-color);
  text-decoration: none;
}

.get__started:hover {
  background-color: var(--hover-color);
}
